:root {
  --background: #17181c;
  --foreground-head: #ffffff;
  --foreground-body: #c1c3c8;
  --foreground-light: #373842;
  --foreground-lighter: #bbbbd90f;

  --primary: #ffea30;
  --primary-darker: #d7c62f;

  --red: #ff031b21;
  --amber: #ffb40321;
  --green: #03ff4e21;
  --blue: #25adff63;
  --grey: #ffffff21;


  --red-light: #ff244d;
  --amber-light: #ffc02a;
  --green-light: #1aff5e;
  --grey-light: #abbfd9;
}
