---

import '../styles/colors.scss';
import '../styles/typography.scss';
import '../styles/globals.scss';

import Footer from '../components/Footer.astro';
import MetaTags from '../components/MetaTags.astro';

interface Props {
	title: string;
	description?: string;
	dontIndex?: boolean;
}

const { title, description, dontIndex } = Astro.props;
const noIndexTag = '<meta name="robots" content="noindex">';
---

<!doctype html>
<html lang="en">
	<head>
		<MetaTags title={title} description={description} />
		{dontIndex && <Fragment set:html={noIndexTag} />}
		{ title && <title>{title}</title>}
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
