// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Ubuntu:wght@300;700&display=swap');

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), url('/fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), url('/fonts/RobotoMono-Italic.ttf') format('truetype');
}

body {
  font-family: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground-body);
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Roboto Mono', 'Menlo', 'Roboto', 'Monaco', 'Consolas', 'Courier New', monospace;
  font-weight: 700;
  color: var(--foreground-head);
}

a {
  color: var(--primary);
  text-decoration: none;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
