---
import config from '../utils/config';

import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro';
import  '../components/Icon'


---


<Layout title="About | Email Comparison">
  <Nav />
	<main>
    
	</main>
</Layout>


<style lang="scss">
  
</style>



