---
import config from '../utils/config';

import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro';
import  '../components/Icon'


---


<Layout title="About | Email Comparison">
  <Nav />
	<section>
		<h3>What</h3>
		<p>
			The aim of Email-Comparison is to provide an objective comparison of so-called
			private and/or secure email services, so that you can make an informed decision
			about which provider to use.
		</p>

		<h3>Where</h3>
		<p>
			The official version of this site is hosted at
			<a href="https://email-comparison.as93.net">email-comparison.as93.net</a><br>
			The source, plus all data is on GitHub at
			<a href="https://github.com/lissy93/email-comparison">github.com/lissy93/email-comparison</a>
		</p>

		<h3>How</h3>
		<p>
			We do not recommend any particular provider, but simply display (what we know as) the facts about each.
			It is up to you to do your own research, and make a decision based on your personal threat model and requirements.
		</p>
		<p>
			This is a community maintained resource, so if you notice any infomation that
			appears incorrect / out-dated, please open an issue or PR on the
			<a href="https://github.com/lissy93/email-comparison">GitHub repo</a>.
		</p>

		<h3>Why</h3>
		<p>
			We put enourmous trust in our email provider, it's the gateway to all our
			other online accounts, personal communications and real-life administrtion.
		</p>
		<p>
			At this point, it's a known fact that many mainstream email providers
			(like Gmail, Outlook, Yahoo, GMX and more) offer us a free service because they
			are getting something far more valuable in return: our data.
			Maybe this doesn't bother you, after all, you've got nothing to hide, right?<br>
			But using these services, mean that how our personal data is handled and used
			is out of your control. You do not know who it's being sold to,
			which AI algorithms it's being fed into, which governments it's being shared with,
			or even how it's being used to manipulate you.
		</p>

		<h3>Who</h3>
		<p>
			This website was originally created by
			<a href="https://aliciasykes.com">Alicia Sykes</a> (<a href="https://github.com/lissy93">@Lissy93</a> on GitHub).
			<br>
			I have a particular interest in privacy, security and cryptography.
			And as such, it's important to note that I have worked with or for several
			of the providers listed on this site, as well as several others not included here.
			BUT none of the infomation here is based on my personal opinion or experience - just facts.
		</p>
		<p>
			My objective is to create applications, resources and tools, to help people take back control of their data.
			Everything I make is open source.
			You may also be interested in 
			<a href="https://github.com/Lissy93/personal-security-checklist/">Personal Security Checklist</a>
			and <a href="https://github.com/Lissy93/awesome-privacy/">Awesome Privacy</a>.
			Or, if you're into the world of self-hosting, then I also maintain
			<a href="https://github.com/Lissy93/dashy">Dashy</a>,
			<a href="https://github.com/Lissy93/portainer-templates">Portainer-Templates</a>,
			<a href="https://github.com/Lissy93/AdGuardian-Term">AdGuardian Home</a>
			and a fork of <a href="https://github.com/lissy93/awesome-selfhosted">Awesome Self-Hosted</a>.
		</p>
		<p>
			You can check out other projects that I've published at <a href="https://apps.aliciasykes.com/">apps.aliciasykes.com</a>
		</p>

		<h3>Support</h3>
		<p>
			If you're interested in supporting this project, pull requests are always very welcome (and much appriciated!).
			Alternativley, leave a review / your thoughts on any mail provider listed here, via
			<a href="https://github.com/Lissy93/email-comparison/discussions/categories/reviews">the discussions tab</a>.<br>
			If you're able, consider <a href="https://github.com/sponsors/Lissy93">sponsoring me on GitHub</a> 💖
		</p>

	</section>
</Layout>


<style lang="scss">
  
</style>



