---
import { marked } from 'marked';

import config from '../utils/config';
import { bestPracticesData, introduction } from '../utils/best-practices-data';

import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro';
import  '../components/Icon'


---


<Layout title="About | Email Comparison">
  <Nav />
  <header>
    <h1>Email Privacy & Security: Best Practices</h1>
    { introduction.map((paragraph) => (
      <Fragment set:html={marked(paragraph)} />
    ))}
  </header>
	<section>
    
    <article>
      {bestPracticesData.map((practice) => (
        <div class="best-practice">
          <h3>{practice.title}</h3>
          <Fragment set:html={marked(practice.description)} />          
        </div>
      ))}
    </article>
  </section>
</Layout>


<style lang="scss">
  header {
    background: var(--foreground-lighter);
    padding: 4rem;
    h1 {
      margin: 0;
    }
  }
  section {
    h1 {
      font-size: 2rem;
    }
  }
</style>



