
<footer>

    <a href="https://github.com/Lissy93/email-comparison">Email Comparison</a> is
    licensed under <a href="https://github.com/Lissy93/email-comparison/blob/master/LICENSE">MIT</a> |
    ⓒ <a href="https://aliciasykes.com">Alicia Sykes</a> 2026

</footer>

<style lang="scss">
  footer {
    background: var(--foreground-lighter);
    text-align: center;
    padding: 0.5rem 0;
  }
</style>
