
<section>
  <h2>About</h2>
  <p>
    Looking for a new email provider? Care about privacy and security? You've come to the right place.<br>
    The purpose of this site is give you the data you need, to make an informed decission.
  </p>
  <p>
    This is a community-maintained resource. If you spot something that needs updating, or would to suggest an addition or deletion,
    please either open a ticket or raise a PR in <a href="https://github.com/Lissy93/email-comparison">the GitHub repo</a>.
  </p>
  <a href={`${import.meta.env.BASE_URL}about`} class="link-button">Read More</a>
</section>

<style>
.link-button {
  background: var(--primary);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}
</style>
