---
import './Icon';
const baseUrl = import.meta.env.BASE_URL;
---

<nav>
  <a class="site-name" href={baseUrl}>
    <icon-component iconName="email" iconWidth="2rem" iconHeight="1.8rem" />
    <span class="site-name">Email Comparison</span>
  </a>
  <div class="links">
    <a href="https://github.com/lissy93/email-comparison">
      <icon-component iconName="github" iconHeight="22px" iconWidth="24px" />
      GitHub
    </a>
    <a href="/about">
        <icon-component iconName="about" iconHeight="22px" iconWidth="24px" />
      About
    </a>
  </div>
</nav>

<style lang="scss">
  nav {
    background: var(--primary);
    color: var(--background);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    a {
      color: var(--background);
    }
    display: flex;
    .site-name {
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      gap: 1rem;

    }
    .links {
      display: flex;
      a {
        padding: 0.25rem 0.5rem;
        border-radius: 2rem;
        transition: all 0.2s ease;
        display: flex;
        gap: 0.25rem;
        &:hover {
          background: var(--primary-darker);
        }
      }
    }
  }
</style>
